#block-heroblock {
  width:100%;
}
.hero-area {
  height: calc(100vh - 80px);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.bg-image.bg-parallax {
  background-attachment: fixed;
}
.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
}
.bg-image.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
  background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
  opacity: 0.7;
}
.home-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.main-button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: #FF6700;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #FFF;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.btn.icon-arrow::after {
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  width: 30px;
  right: 15px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.white-text {
  color: #FFF;
}
